<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-userable">
  <div class="container">
    <a class="navbar-brand " href="/">Bookers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav mr-auto"></ul>

      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Home", user_path(current_user), class: "nav-link fas fa-home text-light" %>
          </li>
          <li class="nav-item">
            <a class="nav-link fas fa-users text-light" href="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fas fa-book-open text-light" href="/books">Books</a>
          </li>
          <li class="nav-item">
            <%= link_to "logout", destroy_user_session_path, method: :delete, class: "nav-link fas fa-sign-out-alt text-light" %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fas fa-home text-light" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fas fa-link text-light" href="/home/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fas fa-user-plus text-light" href="/users/sign_up">sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fas fa-sign-in-alt text-light" href="/users/sign_in">login</a>
          </li>
        </ul>
      <% end %>

    </div>
  </div>
</nav>