/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-userable {
  margin-bottom: 30px;
}

.welcome-to-bookers {
  text-align: center;
}

.copy-right {
  text-align: center;
  margin-top: 50px;
}

.new-book-title {
  width: 100%;
}

.new-book-form {
  width: 100%;
}

.new-book-formfield {
  width: 100%;
  margin-bottom: 10px;
}

.notice-message {
  color: #008000;
}

.error-messages {
  color: red;
}

.edit-user-formfield {
  margin-bottom: 10px;
}

.sidebar-image-box {
  width: 100%;
}

.no-favorite-heart {
  color: #538EFD;
}

.favorited-heart {
  color: red;
}

.book-comment-form {
  width: 100%;

}